@page "/call-center"
@using CoronaReporter.Data
@using CoronaReporter.Service
@using Microsoft.EntityFrameworkCore
@inject MedicalDataManager MedicalDataManager
@inject CoronaReporterContext Context
@inject IJSRuntime JsRuntime 

<h1>Call Center</h1>

Under construction

Will show all uncalled patients which have lab results. Allow UI user to flag patient as called, removing him from the view. 