@page "/dev"
@using CoronaReporter.Data
@using CoronaReporter.Service
@using Microsoft.EntityFrameworkCore
@inject MedicalDataManager MedicalDataManager
@inject CoronaReporterContext Context
@inject IJSRuntime JsRuntime 

@*Comment*@

<h1>Development Page</h1>
